<br>
<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/manager/projections">Projections</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manager/add_raw">Add New Raw materials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manager/update_raw">Update Raw materials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manager/staff_reqs">Pending Staff</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manager/add_menu_item">Add Menu Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manager/update_menu_item">Update Menu Item</a>
            </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <a class="dropdown-item" href="/manager/logout">Log Out</a>
            </ul>
        </div>
        </nav>
</div>
